@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

[lang="ja"] {
  font-family: "Noto Sans JP", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  padding: .5em 1em .6em;
}

.logo{
  margin-bottom: 0;
  margin-left: 0.5em;
}

.title {
  margin: 0;
  margin-left: 1em;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  top: 23px;
  margin: 0 .4em;
}

nav li {
  margin: 0 .4em;
}

ul {
  margin-top: 0;
}

.middle {
  text-align: center;
  border-top: .2rem solid #e2e2e2;
  border-bottom: .2rem solid #e2e2e2;
}

.japanese {
  font-size: 2rem;
}

.life {
  font-size: 1rem;
}

.columns {
  display: flex;
  border-bottom: .2rem solid #e2e2e2;
}

.columns div {
  width: 50%;
}

footer {
  text-align: center;
}
